<div class="text-center w-full mt-10">
  <h1 class="text-5xl font-bold">Articulos</h1>
</div>
<div class="mx-auto w-full max-w-screen-lg py-16 px-5">
  <div class="grid grid-cols-1 gap-5 md:gap-10 md:grid-cols-2" id="articles">
    <%= render partial: "article", collection: @articles %>
  </div>
</div>