<% if resource.errors.any? %>
  <div class="bg-red-300 rounded p-3 mb-3">
    <% resource.errors.full_messages.each do |message| %>
      <li class="font-semibold text-sm text-red-800"><%= message %></li>
    <% end %>
  </div>
<% end %>